{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Keesha Billboard</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="stylesheet" href="{%static '/boards/css/style.css' %}">
	<link rel="stylesheet" href="{%static '/boards/css/stylea.css' %}">
	<link rel="stylesheet" href="{%static '/boards/css/stylehh.css' %}">
	<link rel="stylesheet" href="{%static '/boards/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{%static '/boards/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{%static '/boards/css/animate.min.css' %}">
	<link rel="stylesheet" href="{%static '/boards/css/et-line-font.css' %}">
	<link rel="stylesheet" href="{%static '/boards/css/nivo-lightbox.css' %}">
	<link rel="stylesheet" href="{%static '/boards/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{%static '/boards/css/owl.theme.default.min.css' %}">
	<link rel="stylesheet" href="{%static '/boards/css/nivo_themes/default/default.css' %}">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
	<script src="https://js.paystack.co/v1/inline.js"></script> 
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
	<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
</head>

<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
<!-- <div class="preloader"> -->
	<!-- <div class="sk-spinner sk-spinner-circle"> -->
       <!-- <div class="sk-circle1 sk-circle"></div> -->
       <!-- <div class="sk-circle2 sk-circle"></div> -->
       <!-- <div class="sk-circle3 sk-circle"></div> -->
       <!-- <div class="sk-circle4 sk-circle"></div> -->
       <!-- <div class="sk-circle5 sk-circle"></div> -->
       <!-- <div class="sk-circle6 sk-circle"></div> -->
       <!-- <div class="sk-circle7 sk-circle"></div> -->
       <!-- <div class="sk-circle8 sk-circle"></div> -->
       <!-- <div class="sk-circle9 sk-circle"></div> -->
       <!-- <div class="sk-circle10 sk-circle"></div> -->
       <!-- <div class="sk-circle11 sk-circle"></div> -->
       <!-- <div class="sk-circle12 sk-circle"></div> -->
    <!-- </div> -->
<!-- </div> -->

<!-- navigation section -->
<section class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<div class="logo">
				<img src="{%static '/boards/images/logoo.png' %}" 
				alt="logo" width="40px"/>
				<a href="billboard" class="navbar-band">
			KEESHA Billboard</a>
			</div>

		</div>
		{%block fasola %}
		{%endblock%}
		
		{%block teni %}
		{%endblock%}
	</div>
</section>
		
		
		{%block client %}
		{%endblock%}
		
		{%block dashboard %}
		{%endblock%}
		
		{%block tade %}
		{%endblock%}
		
		{%block form %}
		{%endblock%}

		{%block terms %}
		{%endblock%}
		
		{%block signup %}
		{%endblock%}
		
		{%block activities %}
		{%endblock%}
		
		{%block registrationx %}
		{%endblock%}
		
		{%block registration %}
		{%endblock%}
		
		{%block gateway %}
		{%endblock%}
		
		{%block changeform %}
		{%endblock%}
		
		{%block loginx %}
		{%endblock%}

		{%block changedone %}
		{%endblock%}
		
		{%block lagout %}
		{%endblock%}

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<p>Copyright Keesha Billboard Design</p>
					<hr>
					<ul class="social-icon">
						<li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
						<li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
						<li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.9s"></a></li>
						<li><a href="#" class="fa fa-behance wow fadeIn" data-wow-delay="0.9s"></a></li>
						<li><a href="#" class="fa fa-tumblr wow fadeIn" data-wow-delay="0.9s"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="{%static '/boards/js/jquery.js' %}"></script>
	<script type="text/javascript" src="{%static '/boards/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{%static '/boards/js/smoothscroll.js' %}"></script>
	<script type="text/javascript" src="{%static '/boards/js/isotope.js' %}"></script>
	<script type="text/javascript" src="{%static '/boards/js/imagesloaded.min.js' %}"></script>
	<script type="text/javascript" src="{%static '/boards/js/nivo-lightbox.min.js' %}"></script>
	<script type="text/javascript" src="{%static '/boards/js/jquery.backstretch.min.js' %}"></script>
	<script type="text/javascript" src="{%static '/boards/js/wow.min.js' %}"></script>
	<script type="text/javascript" src="{%static '/boards/js/custom.js' %}"></script>
	<script type="text/javascript" src="{%static '/boards/js/cusso.js' %}"></script>
	<script type="text/javascript" src="{%static '/boards/js/cussa.js' %}"></script>
	<script type="text/javascript" src="{%static '/boards/js/owl.carousel.min.js' %}"></script>
	<script type="text/javascript" src="{%static '/boards/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{%static '/boards/js/script.js' %}"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	<script>
		let x = document.getElementById("box")
		let y = document.getElementById("mymodalproduct")

		function doHide(){
		y.style.visibility="hidden"
		}

		function doShow(){
		y.style.visibility="visible"
		}

		doHide()
	</script>
	<script>
		var message_ele = document.getElementById("message_container");

		setTimeout(function(){ 
		   message_ele.style.display = "none"; 
		}, 2000);	
	</script>
	<script>

	let k = document.getElementById("mymodaldir")

	function doShowdir(){
	k.style.visibility="visible"
	}

	function doHidedir(){
	k.style.visibility="hidden"
	}

	doHidedir()
	</script>
	<script>
	function showname(){
		alert("You are not logged in")
	}

	function doShowdas(){
		alert("Make sure you setup your account before clicking inorder to avoid issues,if not choose account setup")
	}
	</script>
	<script>

	let a = document.getElementById("hom")
	let b = document.getElementById("das")
	let c = document.getElementById("con")

	function doShowdas(){
	a.style.color="#fff";
	b.style.color="#00c6d7";
	b.style.color="#00c6d7";
	}
	function hidehom(){
	b.style.color="#fff";
	a.style.color="#00c6d7"
	}

	hidehom()
	</script>
	<script>

	let l = document.getElementById("mymodallogin")
	let s = document.getElementById("mymodalmar")
	let h = document.getElementById("mymodalman")
	let k = document.getElementById("mymodaldir")
	let r = document.getElementById("mymodalceo")

	function doShowlog(){
	l.style.visibility="visible"
	}

	function doHidelog(){
	l.style.visibility="hidden"
	}

	function doShowmar(){
	s.style.visibility="visible"
	}

	function doHidemar(){
	s.style.visibility="hidden"
	}

	function doShowman(){
	h.style.visibility="visible"
	}

	function doHideman(){
	h.style.visibility="hidden"
	}

	function doShowdir(){
	k.style.visibility="visible"
	}

	function doHidedir(){
	k.style.visibility="hidden"
	}

	function doShowceo(){
	r.style.visibility="visible"
	}

	function doHideceo(){
	r.style.visibility="hidden"
	}

	doHidelog()
	doHidemar()
	doHideman()
	doHidedir()
	doHideceo()



	</script>
	<script>

	let y = document.getElementById("mymodalyear")
	function doShowyear(){
	y.style.visibility="visible"
	}

	function doHideyear(){
	y.style.visibility="hidden"
	}


	doHideyear()

	</script>
	<script>

	let c = document.getElementById("mymodalclient")

	function doShowclient(){
	c.style.visibility="visible"
	}

	function doHideclient(){
	c.style.visibility="hidden"
	}


	doHideclient()
	doHideclient()

	</script>
	<script>


	let m = document.getElementById("mymodalbus")

	function doShowbus(){
	m.style.visibility="visible"
	}

	function doHidebus(){
	m.style.visibility="hidden"
	}


	doHidebus()

	</script>
	<script>
	let g = document.getElementById("mymodalcro")
	let o = document.getElementById("mymodalsec")
	
	function doShowcro(){
	g.style.visibility="visible"
	}

	function doHidecro(){
	g.style.visibility="hidden"
	}
	function doShowsec(){
	o.style.visibility="visible"
	}

	function doHidesec(){
	o.style.visibility="hidden"
	}
	doHidecro()
	doHidesec()
	</script>
</body>
</html>
