#dashboard{
	min-height:60vh;
	width:100%;
}
#das{
	cursor:pointer;
}
#inform{
	margin-top:5vh !important;
}
.shoplag{
	padding:5px auto;
	text-align:center;
	background-color:#77c6b7;
	padding:10vh 28% 10vh 28%;
}
.shoplag form{
	padding:3vh 0 6vh 0;
	border:solid 1px #00c6d7;
	text-align:center;
	width:600px;
	display:inline-block;
	margin-top:7vh;
	background-color:#fff;
	border-radius:10px;
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
}
.shoplag form label{
	padding:5px 0;
	display:block;
}
.shoplag form input{
	padding:5px 10px;
	width:80%;
	border-top:0px;
	border-right:0px;
	border-left:0px;
	display:inline-block;
	background-color:white;
	border:white;
	border-bottom:solid 1px #00c6d7;
	box-shadow:none;
	border-radius:0px;
	padding:3.5vh 3% 3.5vh 3%;
	margin-top:2vh;
}
.shoplag h1{
	margin-bottom:3vh;
}
.shoplag .helptext{
	display:none;
}
.shoplag form input:active{
	outline:none;
	padding:5px 10px;
	width:80%;
	border-top:0px;
	border-right:0px;
	border-left:0px;
	display:inline-block;
	border-radius:0px;
	box-shadow:none;
	padding:3.5vh 3% 3.5vh 3%;
	background-color:white;
}
.shoplag form input:hover{
	outline:none;
	padding:5px 10px;
	width:80%;
	border-top:0px;
	border-right:0px;
	border-left:0px;
	display:inline-block;
	border-radius:0px;
	box-shadow:none;
	padding:3.5vh 3% 3.5vh 3%;
}
.shoplag form input:focus{
	outline:none;
	padding:5px 10px;
	width:80%;
	border-top:0px;
	border-right:0px;
	border-left:0px;
	display:inline-block;
	border-radius:0px;
	box-shadow:none;
	padding:3.5vh 3% 3.5vh 3%;
	background-color:white;
}
.shoplag form input:link{
	outline:none;
	padding:5px 10px;
	width:80%;
	border-bottom:solid 1px #00c6d7;
	border-top:0px;
	border-right:0px;
	border-left:0px;
	display:inline-block;
	border-radius:0px;
	padding:3.5vh 3% 3.5vh 3%;
	background-color:white;
	box-shadow:none;
}
.shoplag form textarea{
	border: none; 
	background-color: transparent;
	resize: none;
	outline: none;
}
.shoplag h1{
	font-family:Roboto;
}
.shoplag form label{
	margin-top:2vh;
	text-align:center;
	padding-left:10%;
}
.shoplag .logr{
	text-align:center;
	height:19vh;
	margin-bottom:8vh;
	margin-top:3vh;
}
.shoplag form .logus{
	margin-top:6vh;
}
.shoplag input[type="submit"] {
	margin-top:4vh;
	margin-bottom:2vh;
	background-color:#00c6d7;
	padding:2.5vh 3% 2.5vh 3%;
}
.shoplag input[type="submit"]:hover {
	margin-top:4vh;
	margin-bottom:2vh;
	background-color:#00c6d7;
	padding:2.5vh 3% 2.5vh 3%;
}

.shoplog{
	background-color:#77c6b7;
}
.dasl{
	text-align:left;
	width:100%;
	background-color:#ddd;
	height:35px; 
	font-size:20px; 
	margin-bottom:20px;
	padding:4px 10px 10px 20px;
}
.kuma{
	margin-left:20px; 
	font-weight:bold;
}
.dasb{
	margin-left:60%;
}
.dasa{
	text-align:left;
	padding-left:30px;
	line-height:25px;
}
.shoplog form label{
	padding:5px 0;
	display:block;
}
.shoplog form input{
	padding:5px 10px;
	width:80%;
	border-top:0px;
	border-right:0px;
	border-left:0px;
	display:inline-block;
	background-color:white;
	border:white;
	border-bottom:solid 1px #00c6d7;
	box-shadow:none;
	border-radius:0px;
	padding:3.5vh 3% 3.5vh 3%;
	margin-top:2vh;
}
.shoplog h1{
	margin-bottom:3vh;
}
.shoplog .helptext{
	display:none;
}
.shoplog form input:active{
	outline:none;
	padding:5px 10px;
	width:80%;
	border-top:0px;
	border-right:0px;
	border-left:0px;
	display:inline-block;
	border-radius:0px;
	box-shadow:none;
	padding:3.5vh 3% 3.5vh 3%;
	background-color:white;
}
.shoplog form input:hover{
	outline:none;
	padding:5px 10px;
	width:80%;
	border-top:0px;
	border-right:0px;
	border-left:0px;
	display:inline-block;
	border-radius:0px;
	box-shadow:none;
	padding:3.5vh 3% 3.5vh 3%;
}
.shoplog form input:focus{
	outline:none;
	padding:5px 10px;
	width:80%;
	border-top:0px;
	border-right:0px;
	border-left:0px;
	display:inline-block;
	border-radius:0px;
	box-shadow:none;
	padding:3.5vh 3% 3.5vh 3%;
	background-color:white;
}
.shoplog form input:link{
	outline:none;
	padding:5px 10px;
	width:80%;
	border-bottom:solid 1px #00c6d7;
	border-top:0px;
	border-right:0px;
	border-left:0px;
	display:inline-block;
	border-radius:0px;
	padding:3.5vh 3% 3.5vh 3%;
	background-color:white;
	box-shadow:none;
}
.shoplog form textarea{
	border: none; 
	background-color: transparent;
	resize: none;
	outline: none;
}
.shoplog h1{
	font-family:Roboto;
}
.shoplog form label{
	margin-top:2vh;
	text-align:center;
	padding-left:10%;

}
.shoplog .logr{
	text-align:center;
	height:19vh;
	margin-bottom:8vh;
	margin-top:3vh;
}
.shoplog form .logus{
	margin-top:6vh;
}
.shoplog input[type="submit"] {
	margin-top:4vh;
	margin-bottom:2vh;
	background-color:#00c6d7;
	padding:2.5vh 3% 2.5vh 3%;
}
.shoplog input[type="submit"]:hover {
	margin-top:4vh;
	margin-bottom:2vh;
	background-color:#00c6d7;
	padding:2.5vh 3% 2.5vh 3%;
}
.nan{
	margin-top:40vh;
}
.shopbas{
	padding:5px 0;
	text-align:center;
	padding-top:80px;
	margin-top:-40px;
	background-color:#77c6b7;
	min-height:1000px;
}
.shopbas h1{
	text-shadow: 1px 1px #000, 1px 1px #000, 1px 1px #000;
}
div .nam{
	width:10% !important;
	height:10vh;
}
.shopbas form{
	padding:10px 0 20px 0;
	border:solid 1px #00c6d7;
	text-align:center;
	width:50%;
	margin:0 25%;
	display:inline-block;
	background-color:#fff;
	border-radius:10px;
}
.shopbas form label{
	padding:5px 0;
	display:block;
}
.shopbas form input{
	padding:5px 10px;
	width:80%;
	border:solid 1px #00c6d7;
	display:inline-block;
	border-radius:0px;
	padding:2vh 3% 2vh 3%;
}
.shopbas input[type="submit"] {
	margin-top:4vh;
	margin-bottom:2vh;
	background-color:#00c6d7;
}
.shopbas h1{
	margin-bottom:3vh;
	line-spacing:2px;
}
.helptext{
	display:none;
}

.shopbas form input:focus{
	outline:none;
	padding:5px 10px;
	width:80%;
	border:solid 1px #00c6d7;
	display:inline-block;
	border-radius:0px;
	padding:2vh 3% 2vh 3%;
}
.shopbas form input:link{
	outline:none;
	padding:5px 10px;
	width:80%;
	border:solid 1px #00c6d7;
	display:inline-block;
	border-radius:0px;
	padding:2vh 3% 2vh 3%;
}
.shopbas form textarea{
	border: none; 
	background-color: transparent;
	resize: none;
	outline: none;
}
.shopbas h1{
	font-family:Roboto;
	text-align:center;
}
.shopbas form label{
	margin-top:2vh;
	text-align:left;
	padding-left:10%;
	margin
}
.buypr{
	text-align:left;
	margin:20vh 30%;
}	
.buypr form{
	padding:25px;
	border:solid 1px #00C6D7;
	height:55vh;
	width:100%;
	
}
.buypr hr{
	margin-bottom:20px;
	margin-top:10px;
}

.buypr input{
	width:100%;
	padding:10px;
	display:inline-block;
	margin:5px 2px;
	border:1px solid lightgray;
}
.buypr select{
	width:100%;
	padding:10px;
	display:inline-block;
	margin:5px 2px;
	border:1px solid lightgray;
	margin-top:5px;
}
.buypr input[type=submit]{
	margin-top:1vh;
	width:20%;
	display:inline-block;
	float:right;
}
.buypr .date{
	display:inline-block;
	width:100%;
}
.buy pr .date div{
	border:1px solid fff;
	width:47%;
}
.buy pr .date div.la{
	border:1px solid fff;
	width:50%;
	margin-right:2%;
}
.buypr div{
	color:black;
}
.buypr .col-md-6{
	float:left;
}
.buypr form hr{
	width:100%;
}
.buy{
	width: 100%;
}
.buyp{
	width: 100%;
}
.buyp .ow .label{
	font-size:20px;
 }
.buyp form{
	padding:25px;
	border:solid 1px #00C6D7;
	min-height:850px !important;
	width:100%;
	background-color:white;
	padding-bottom:85px;
}
.sub input[type=submit]{
	font-size:15px;
	border-radius:0px;
}
.modalplan{
	overflow-y:scroll;
	height:90vh;
}
.modalpricing{
	/* overflow-y:scroll; */
	height:610px !important;
}
.modallogin{
	overflow:none;
	padding:0 0 40px 0;
	border:solid 1px #00c6d7;
	text-align:center;
	width:44%;
	margin:0 28%;
	display:inline-block;
	margin-top:70px;
	background-color:#fff;
	border-radius:10px;
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
}
.modaldash{
	overflow:none;
	padding:5px;
	border:solid 1px #00c6d7;
	width:36%;
	margin:0 32%;
	min-height:200px;
	display:inline-block;
	margin-top:200px;
	background-color:#fff;
	border-radius:0px;
	 box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
}
.modaldash .btn-primary:hover{
	border:1px solid #0d6efd !important;
	outline:0 !important;
}
.modaldash .btn-primary:focus{
	border:1px solid #0d6efd !important;
	outline:0 !important;
}
.modaldash .btn-primary:active{
	border:1px solid #0d6efd !important;
	outline:0 !important;
}
.modaldash .btn-primary:link{
	border:1px solid #0d6efd !important;
	outline:0 !important;
}
.modaldash .close{
	color:black !important;
	border:2px solid black !important;
	padding:0 5px;
	opacity:1 !important;
}
.modalyear{
	overflow:none;
	padding:0 0 40px 0;
	border:solid 1px #00c6d7;
	text-align:center;
	width:60%;
	padding:0;
	min-height:560px;
	margin:0 20%;
	display:inline-block;
	margin-top:70px;
	background-color:#fff;
	border-radius:2px;
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
}
.modalcl{
	overflow:none;
	padding:0 0 40px 0;
	border:solid 1px #00c6d7;
	text-align:center;
	width:60%;
	padding:0;
	min-height:560px;
	margin:0 20%;
	display:inline-block;
	margin-top:70px;
	background-color:#fff;
	border-radius:2px;
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
}
.modalbus{
	overflow:none;
	padding:0 0 40px 0;
	border:solid 1px #00c6d7;
	text-align:center;
	width:60%;
	padding:0;
	min-height:560px;
	margin:0 20%;
	display:inline-block;
	margin-top:70px;
	background-color:#fff;
	border-radius:2px;
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
}
.cx{
	margin-top:30px;
}
.modalman{
	overflow:none;
	padding:10px 20px 20px 10px;
	border:solid 1px #00c6d7;
	text-align:center;
	margin:80px 25%;
	width:50%;
	display:inline-block;
	background-color:#fff;
	border-radius:10px;
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
}
.modalmar{
	overflow:none;
	padding:10px 20px 20px 10px;
	border:solid 1px #00c6d7;
	text-align:center;
	margin:80px 25%;
	width:50%;
	display:inline-block;
	background-color:#fff;
	border-radius:10px;
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
}
.modaldir{
	overflow:none;
	padding:10px 20px 20px 10px;
	border:solid 1px #00c6d7;
	text-align:center;
	margin:80px 25%;
	width:50%;
	display:inline-block;
	background-color:#fff;
	border-radius:10px;
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
}
.modalceo{
	overflow:none;
	padding:10px 20px 20px 10px;
	border:solid 1px #00c6d7;
	text-align:center;
	margin:80px 25%;
	width:50%;
	display:inline-block;
	background-color:#fff;
	border-radius:10px;
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
}
.modalsec{
	overflow:none;
	padding:10px 20px 20px 10px;
	border:solid 1px #00c6d7;
	text-align:center;
	margin:80px 25%;
	width:50%;
	display:inline-block;
	background-color:#fff;
	border-radius:10px;
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
}
.modalcro{
	overflow:none;
	padding:10px 20px 20px 10px;
	border:solid 1px #00c6d7;
	text-align:center;
	margin:80px 25%;
	width:50%;
	display:inline-block;
	background-color:#fff;
	border-radius:10px;
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
}
.modallogin form{
	overflow:none;
	
}
.modaldash form{
	overflow:none;
}
.modalyear form{
	overflow:none;
}
.modalcl form{
	overflow:none;
}
.modalbus form{
	overflow:none;
	
}
.buyp .product{
	font-size:20px;
	margin-bottom:-15px;

}
.buyp input{
	width:100%;
	padding:10px;
	display:inline-block;
	margin:5px 2px;
	border:1px solid lightgray;
	border-radius:-10px;
}
.buyp input[type=submit]{
	margin-top:1vh;
	width:20%;
	display:inline-block;
	float:right;
}
.buyp .sub input[input="submit"]{
	font-size:10px;
}
.buyp .date{
	display:inline-block;
	width:100%;
}
.buyp option{
	width:32%;
	border-radius:2px solid lightgray;
}
.buyp .nx select{
	width:32.2%;
	margin-left:1%;
	padding:1.5vh 0vh;
	border-color:lightgray;
	border-radius:5px;
	padding:10px 0px;
}
.buyp .ona .onb{
	margin-left:5px;
}
.buyp .col-lg-12 .ona{
	margin-bottom:25px;
	border:1px solid blue;
}
.buyp .onb{
	width:49%;
}
.buyp .ons select{
	width:98%;
	margin-left:1%;
	margin-top:0.7vh;
	padding:1.5vh 0vh;
	padding:10.5px 0px;
	border-color:lightgray;
	border-radius:5px;
	margin-bottom:14px;
}
.buyp .ons{
	margin-bottom:8px;
	margin-top:-10px;
}
.buyp .dat{
	margin-left:3%;
}
.buyp .nja .nx label{
	margin-left:3% !important;
}
.buyp .date div{
	border:1px solid fff;
	width:47%;
}

.buyp .date div.la{
	border:1px solid fff;
	width:50%;
	margin-right:2%;
}
.buyp div{
	 color:black;
}
.buyp .col-md-6{
	float:left;
}
.buyp form hr{
	width:100%;
}
.buyp .btn-primary{
	background-color:royalblue;
	color:white;
	font-size:20px;
}
.buyp .ow{
	margin-bottom:-10px;
	margin-top:-10px;
}
.buyp .ona{
	margin-bottom:100px;
}
.buyp .time input{
	border:1px solid lightgray;
	display:inline;
}
.shopbase{
	padding:5px auto;
	text-align:center;
	background-color:#fff;
	padding:10vh 30% 10vh 30%;
}
.shopbase form{
	padding:3vh 0 6vh 0;
	border:solid 1px #00c6d7;
	text-align:center;
	width:600px;
	display:inline-block;
	margin-top:7vh;
}
.shopbase form label{
	padding:5px 0;
	display:block;
}
.shopbase form input{
	padding:5px 10px;
	width:80%;
	border-top:0px;
	border-right:0px;
	border-left:0px;
	display:inline-block;
	background-color:white;
	border:white;
	border-bottom:solid 1px #00c6d7;
	box-shadow:none;
	border-radius:0px;
	padding:3.5vh 3% 3.5vh 3%;
	margin-top:2vh;
}
.shopbase h1{
	margin-bottom:3vh;
}
helptext{
	display:none;
}
.helptext{
	display:none;
}
.modallogin helptext{
	display:none;
}
.shopbase form input:active{
	outline:none;
	padding:5px 10px;
	width:80%;
	border-top:0px;
	border-right:0px;
	border-left:0px;
	display:inline-block;
	border-radius:0px;
	box-shadow:none;
	padding:3.5vh 3% 3.5vh 3%;
	background-color:white;
}
.shopbase form input:hover{
	outline:none;
	padding:5px 10px;
	width:80%;
	border-top:0px;
	border-right:0px;
	border-left:0px;
	display:inline-block;
	border-radius:0px;
	box-shadow:none;
	padding:3.5vh 3% 3.5vh 3%;
}
.shopbase form input:focus{
	outline:none;
	padding:5px 10px;
	width:80%;
	border-top:0px;
	border-right:0px;
	border-left:0px;
	display:inline-block;
	border-radius:0px;
	box-shadow:none;
	padding:3.5vh 3% 3.5vh 3%;
	background-color:white;
}
.shopbase form input:link{
	outline:none;
	padding:5px 10px;
	width:80%;
	border-bottom:solid 1px #00c6d7;
	border-top:0px;
	border-right:0px;
	border-left:0px;
	display:inline-block;
	border-radius:0px;
	padding:3.5vh 3% 3.5vh 3%;
	background-color:white;
	box-shadow:none;
}
.shopbase form textarea{
	border: none; 
	background-color: transparent;
	resize: none;
	outline: none;
}
.shopbase h1{
	font-family:Roboto;
}
.shopbase form label{
	margin-top:2vh;
	text-align:center;
	padding-left:10%;
}
.shopbase .logr{
	text-align:center;
	height:19vh;
	margin-bottom:8vh;
	margin-top:3vh;
}
.shopbase form .logus{
	margin-top:6vh;
}
.shopbase input[type="submit"] {
	margin-top:4vh;
	margin-bottom:2vh;
	background-color:#00c6d7;
	padding:2.5vh 3% 2.5vh 3%;
}
.shopbase input[type="submit"]:hover {
	margin-top:4vh;
	margin-bottom:2vh;
	background-color:#00c6d7;
	padding:2.5vh 3% 2.5vh 3%;
}
.buy .ow .label{
	font-size:20px;
}
.buy form{
	padding:25px;
	border:solid 1px #00C6D7;
	border-radius:6px;
	background-color:#fff;
	height:270px; 
	width:100%;	
}
.buy input[type=submit]{
	margin-top:1vh;
	width:20%;
	display:inline-block;
	float:right;
	font-size:15px;
}
.buy input{
	width:100%;
	padding:10px;
	display:inline-block;
	margin:5px 2px;
	border:1px solid lightgray;
	border-radius:0px;
}
.buy div{
	 color:black;
}
.buy .col-md-6{
	float:left;
}
.buy form hr{
	width:100%;
}
.buy .btn-default{
	border-radius:0px;
	background-color:#00c6d7;
	border:1px solid #00c6d7;
	padding:8.5px 0px;
	font-size:15px;
	color:white;
}
.buy .btn-default:focus{
	border-radius:0px;
	background-color:#00c6d7;
	border:1px solid #00c6d7;
	padding:8.5px 0px;
	font-size:15px;
	border:1px solid #00c6d7;
	outline:none;
}
.buy .btn-default:active{
	border-radius:0px;
	background-color:#00c6d7;
	border:1px solid #00c6d7;
	padding:8.5px 0px;
	font-size:15px;
	border:1px solid #00c6d7;
}
.buy .btn-default:link{
	border-radius:0px;
	background-color:#00c6d7;
	border:1px solid #00c6d7;
	padding:8.5px 0px;
	font-size:15px;
	border:1px solid #00c6d7;
}
.buy .btn-default:hover{
	border-radius:0px;
	background-color:#00c6d7;
	border:1px solid #00c6d7;
	padding:8.5px 0px;
	font-size:15px;
	border:1px solid #00c6d7;
	color:white;
}
.buy .btn-default:visited{
	border-radius:0px;
	background-color:#00c6d7;
	border:1px solid #00c6d7;
	padding:8.5px 0px;
	font-size:15px;
	border:1px solid #00c6d7;
	color:white;
}
.buy .btn-primary{
	border-radius:0px;
	background-color:royalblue;
	border:1px solid royalblue;
	padding:8.5px 0px;
	font-size:15px;
}
.buy .btn-primary:focus{
	border-radius:0px;
	background-color:royalblue;
	border:1px solid royalblue;
	padding:8.5px 0px;
	font-size:15px;
	border:1px solid royalblue;
	outline:none;
}
.buy .btn-primary:hover{
	border-radius:0px;
	background-color:royalblue;
	border:1px solid royalblue;
	padding:8.5px 0px;
	font-size:15px;
	border:1px solid royalblue;
	outline:none;
	color:white;
}
.buy .btn-primary:active{
	border-radius:0px;
	background-color:royalblue;
	border:1px solid royalblue;
	padding:8.5px 0px;
	font-size:15px;
	border:1px solid royalblue;
}
.buy .btn-primary:link{
	border-radius:0px;
	background-color:royalblue;
	border:1px solid royalblue;
	padding:8.5px 0px;
	font-size:15px;
	border:1px solid royalblue;
}
.btn:focus {
  background-color:royalblue;
  outline: none;
  box-shadow: none;
}

.modalproduct{
	margin-top: 20vh;
	height:300px !important;
	margin-left:25%;
	margin-right:25%;
	width:50%;
	position: relative;
}
.buyp .mi select{
	width:100%;
	padding:10px;
	display:inline-block;
	margin:5px 2px;
	border:1px solid lightgray;
	margin-top:5px;
}
.buy .mi select{
	width:100%;
	padding:10px;
	display:inline-block;
	margin:5px 2px;
	border:1px solid lightgray;
	margin-top:5px;
}
.buypri select{
	width:100%;
	padding:10px;
	display:inline-block;
	margin:5px 2px;
	border:1px solid lightgray;
	margin-top:5px;
}
.buypri hr{
	margin-bottom:7px;
	margin-top:18px;
}
.buypri form{
	height:600px;
	border-radius:0;
}
.buypri input[type=submit]{
	margin-top:1vh;
	width:20%;
	display:inline-block;
	float:right;
}
.buypri span{
	margin-bottom:-2px;
	
}
.modalpricing{
	margin-top: 8.5vh;
	height:100px;
	margin-left:25%;
	margin-right:25%;
	width:50%;
	position: relative;
}
.modalenable{
	margin-top: 40vh;
	height:50vh;
	margin-left:30%;
	margin-right:30%;
	width:40%;
	position: relative;
}
.modalenable form{
	background-color:red;
	width:0% !important;
	height:0vh !important;
	border:none;
}
.modalenable .close{
	padding:7px;
}
.modalenable .ena{
	width:100%;
	height:140px;
	padding-top:12px;
	text-align:center;
	background-color:white;
	border-radius:10px;
	border:1px solid #00c6d7;
}
.modalplan{
	margin-top: 7vh;
	height:95vh;
	margin-left:25%;
	margin-right:25%;
	width:50%;
	position: relative;
}
.buyp .btn-primary{
	border-radius:0px;
	background-color:royalblue;
	border:1px solid royalblue;
	padding:8.5px 0px;
	font-size:15px;
}
.buyp .btn-default{
	border-radius:0px;
	background-color:#00c6d7;
	border:1px solid #00c6d7;
	padding:8.5px 0px;
	font-size:15px;
	color:white;
}
.buyp .btn-default:hover{
	border-radius:0px;
	background-color:#00c6d7;
	border:1px solid #00c6d7;
	padding:8.5px 0px;
	font-size:15px;
	color:white;
}
.buyp .nj input{
	width:98%;
}
.buyp .dat{
	margin-top:8px;
	margin-left:1%;
}
.buyp .dat input{
	width:100%;
}
.nja{
	width:100%;
}
.buyp .col-lg-12{
	padding:0;
	margin:0;
	margin-top:-12px;
}
.buyp .col-lg-6{
	padding:0;
	margin:0;
}
.buy .product{
	font-size:20px;
	margin-bottom:-15px;
}
.productmodal{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1000;
   background-color: rgba(0,0,0,0.5);
}
.pricingmodal{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1000;
   background-color: rgba(0,0,0,0.5);
}
.enablemodal{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1000;
   background-color: rgba(0,0,0,0.5);
}
.planmodal{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1000;
   background-color: rgba(0,0,0,0.5);
}
.loginmodal{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1000;
   background-color: rgba(0,0,0,0.5);
}
.dashmodal{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1000;
   background-color: rgba(0,0,0,0.5);
}
.yearmodal{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1000;
   background-color: rgba(0,0,0,0.5);
}
.busmodal{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1000;
   background-color: rgba(0,0,0,0.5);
}
.clmodal{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1000;
   background-color: rgba(0,0,0,0.5);
}
.marmodal{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1000;
   background-color: rgba(0,0,0,0.5);
}
.manmodal{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1000;
   background-color: rgba(0,0,0,0.5);
}
.ceomodal{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1000;
   background-color: rgba(0,0,0,0.5);
}
.dirmodal{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1000;
   background-color: rgba(0,0,0,0.5);
}
.secmodal{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1000;
   background-color: rgba(0,0,0,0.5);
}
.cromodal{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1000;
   background-color: rgba(0,0,0,0.5);
}
.btn:focus {
  outline: none;
  box-shadow: none;
  border:0;
}
.btn-primary:focus {
  outline: none;
  box-shadow: none;
  border:0;
}
.btn-primary:focus {
  outline: none;
  box-shadow: none;
  border:0;
  background-color:royalblue !important;
  border:1px solid royalblue !important;
}
.btn-default:focus {
  outline: none;
  box-shadow: none;
  border:0;
  background-color:#00c6d7 !important;
  border:1px solid #00c6d7 !important;
  color:white !important;
}
body {
	padding-right: 0 !important;
	overflow: hidden;
	overflow-y: hidden;
}
#contact form{
	padding:0px;
	width:100%;
	margin:0px;
}
#myModalproduct{
	margin-top:14vh;
}
#myModalpricing{
	margin-top:14vh;
}
#myModalenable{
	margin-top:14vh;
}
#myModalplan{
	margin-top:14vh;
}
#myModallogin{
	margin-top:14vh;
}
#myModaldash{
	margin-top:14vh;
}
#myModalyear{
	margin-top:14vh;
}
#myModalcl{
	margin-top:14vh;
}
#myModalbus{
	margin-top:14vh;
}
.cont{
	padding:0px;
	margin:0px;
}
#work a{
	cursor:pointer;
}
.cont input{
	margin-top:-2vh;
	background-color:transparent;
	border:1px solid #bbb;
	border-radius:5px;
	width:48.4%;
	padding:4vh 2% 4vh 2%;
	text-align:left;
	color:white;
}
.ma{
	padding:0px;
	margin:0px;
}
.mas{
	padding:0px;
	margin:0px;
}
.cont .ma{
	margin-right:2%;
	margin-left:0px;
}
.conts input{
	background-color:transparent;
	border:1px solid #bbb;
	width:99%;
	height:42vh;
	margin-top:1vh;
	padding:3vh 2% 20.5vh 2%;
	border-radius:5px;
	text-align:left;
	color:white;
}
.conts select{
	background-color:transparent;
	border:1px solid #bbb;
	width:99%;
	margin-top:1vh;
	padding:3vh 0 3vh 0;
	border-radius:5px;
	text-align:left;
	color:#fff;
}
.buyp input[type=date]{
	width:100%;
}
.conts option{
	background-color:transparent;
	border:2px solid #bbb;
	width:99%;
	margin-top:1vh;
	padding:3vh 0 3vh 0;
	border-radius:0px;
	text-align:left;
	color:#000;
}

.conta input[type=submit]{
	background-color:red;
	border:2px solid #bbb;
	width:50%;
	border-radius:0px;
	color:white;
}
body {
    background: #ffffff;
    font-family: Arial, 'Roboto', sans-serif;
    font-weight: 400;
    position: relative;
}
html{
	scroll-behavior: smooth;
}
#work hr{
	border:0.5px solid #555 !important;
	margin:auto;
	width:50%;
	line-height:3vh;
	margin-bottom:3vh;
	margin-top:3vh;
}
#work .omg{
	border:0.5px solid #fff !important;
	margin:auto;
	width:50%;
	line-height:3vh;
	margin-bottom:3vh;
	margin-top:3vh;
}
#about hr{
	border:0.5px solid #fff !important;
	margin:auto;
	width:50%;
	line-height:3vh;
	margin-bottom:3vh;
	margin-top:3vh;
}
#plan hr{
	border:0.5px solid #fff !important;
	margin:auto;
	width:50%;
	line-height:3vh;
	margin-bottom:3vh;
	margin-top:3vh;
}
#team hr{
	border:0.5px solid #000 !important;
	margin:auto;
	width:50%;
	line-height:3vh;
	margin-bottom:3vh;
	margin-top:3vh;
}
#portfolio hr{
	border:0.5px solid #fff !important;
	margin:auto;
	width:50%;
	line-height:3vh;
	margin-bottom:3vh;
	margin-top:3vh;
}
#contact hr{
	border:0.5px solid #fff !important;
	margin:auto;
	width:50%;
	line-height:3vh;
	margin-bottom:3vh;
}
html, body{
    width: 100%;
    overflow-x: hidden;
}
h1, h2, h3, h4{
  font-weight: bold;
  letter-spacing: 2px;
}
.heading{
	font-size: 20px;
	font-weight:bold;
}
.subheading{
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 60px;
}
.bold{
	font-weight: bold;
}

p{
	line-height: 28px;
	font-size: 15px;
}

a{
	outline: none !important;
}

.section-title strong{
	color: #00C6D7;
  	font-size: 56px;
}

.section-title h1{
	font-size: 24px;
}
.section-title{
  padding-bottom: 32px;
}
.medium-icon{
  font-size: 32px !important;
}
#work,#about, #team, 
#portfolio, #pricing, #contact {
   padding-top: 100px;
  padding-bottom: 100px;
}


/* ==========================================================================
preloader section
========================================================================== */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: none repeat scroll 0 0 #fff;
}
.sk-spinner-circle.sk-spinner{
	width: 22px;
	height: 22px;
	position: relative; 
}
.sk-spinner-circle .sk-circle{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0; 
}
.sk-spinner-circle .sk-circle:before{
    content: '';
    display: block;
    margin: 0 auto;
    width: 20%;
    height: 20%;
    background-color: #00c6d7;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
          animation-fill-mode: both; 
}
.sk-spinner-circle .sk-circle2{
	-webkit-transform: rotate(30deg);
		transform: rotate(30deg); 
}
.sk-spinner-circle .sk-circle3{
	-webkit-transform: rotate(60deg);
		transform: rotate(60deg); 
}
.sk-spinner-circle .sk-circle4 {
	-webkit-transform: rotate(90deg);
		transform: rotate(90deg); 
}
.sk-spinner-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
        transform: rotate(120deg); 
}
.sk-spinner-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
        transform: rotate(150deg); 
}
.sk-spinner-circle .sk-circle7 {
	-webkit-transform: rotate(180deg);
        transform: rotate(180deg); 
}
.sk-spinner-circle .sk-circle8 {
	-webkit-transform: rotate(210deg);
        transform: rotate(210deg); 
}
.sk-spinner-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
          transform: rotate(240deg); 
}
.sk-spinner-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg); 
}
.sk-spinner-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg); 
	}
.sk-spinner-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);		  
}
.sk-spinner-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; 
}
.sk-spinner-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; 
}
.sk-spinner-circle .sk-circle4:before {
	-webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;			
}
.sk-spinner-circle .sk-circle5:before {
	-webkit-animation-delay: -0.8s;
		animation-delay: -0.8s; 
}
.sk-spinner-circle .sk-circle6:before {
	-webkit-animation-delay: -0.7s;
		animation-delay: -0.7s; 
}
.sk-spinner-circle .sk-circle7:before {
	-webkit-animation-delay: -0.6s;
		animation-delay: -0.6s; 
}
.sk-spinner-circle .sk-circle8:before {
	-webkit-animation-delay: -0.5s;
		animation-delay: -0.5s;	
}
.sk-spinner-circle .sk-circle9:before {
	-webkit-animation-delay: -0.4s;
		animation-delay: -0.4s; 
}
.sk-spinner-circle .sk-circle10:before {
	-webkit-animation-delay: -0.3s;
		animation-delay: -0.3s; 
}
.sk-spinner-circle .sk-circle11:before {
	-webkit-animation-delay: -0.2s;
		animation-delay: -0.2s; 
}
.sk-spinner-circle .sk-circle12:before {
	-webkit-animation-delay: -0.1s;
		animation-delay: -0.1s; 
}

@-webkit-keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);	
}
    40% {
    -webkit-transform: scale(1);
        transform: scale(1); 
	} 
}

@keyframes sk-circleBounceDelay {
    0%, 80%, 100%{
        -webkit-transform: scale(0);
        transform: scale(0);
	}
    40%{
       -webkit-transform: scale(1);
		transform: scale(1); 
	} 
}


/* ==========================================================================
navigation section
========================================================================== */
	
.navbar .logo .navbar-band{
    color: #00c6d7;
    font-weight: 600;
    font-size: 24px;
    text-decoration:none;
}

.navbar .logo .navbar-band:hover{
    color: #00c6d7;
    font-weight: 600;
    font-size: 24px;
    text-decoration:none;
}
.navbar-default .logo .navbar-band:active{
    color: #00c6d7;
    font-weight: 600;
    font-size: 24px;
    text-decoration:none;
}
.navbar-default .logo .navbar-band:focus{
    color: #00c6d7;
    font-weight: 600;
    font-size: 24px;
    text-decoration:none;
}
.navbar .logo{
	margin-top:8px;	
}
.navbar-toggle{
	border-color:transparent
}
.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{
	background-color:transparent
}
.navbar-default .navbar-toggle .icon-bar{
	background-color:transparent;
}

.navbar-default .navbar-band .navbar-toggle {
    background: #00c6d7;
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}
	
.navbar-default .navbar-nav li a{
    color: #ffffff !important;
    font-size: 14px;
    font-weight: 500;
	font-style:strong;
}
.navbar-default .navbar-right li a .active{
    color: #667 !important;
    font-size: 14px;
    font-weight: 500;
	font-style:strong;
}
.navbar-default .nav .active{
    color: #00c6d7;
    font-size: 14px;
    font-weight: 500;
	font-style:strong;
}
.navbar-default .nav li a:hover {
	background-color: transparent;
    color: #00c6d7 !important;
    outline: none;
}
.navbar-default .nav li a:focus {
    background-color: transparent;
    color: #00c6d7 !important;
}
.navbar-default .nav li a:active {
    background-color: transparent;
    color: #00c6d7 !important;
}
.navbar-default .navbar-right li.active > a {
	background-color: transparent;
    color: #00c6d7 !important;
}
.navbar-default .nav li.active > a:hover {
	background-color: transparent;
    color: #00c6d7;
}
.navbar-default .nav li a:hover > a{
	background-color: transparent;
    color: #00c6d7;
}
.navbar-default .nav li a:focus > a{
	background-color: transparent;
  color: #00c6d7;

}

.navbar-default .navbar-toggle {
    border: none;
    padding-top: 10px;
}
.navbar-default .navbar-toggle .icon-bar {
    background: #00c6d7;
    border-color: transparent;
}
	
.navbar-default{
    background-color: #000 !important;
	color:white !important;
    border:#000 !important;
}
/* ==========================================================================
home section
========================================================================== */
#home {
	margin-top:40px;
	background-color:#00C6D7;
	width:100%;
}
#home img{
	width:100%;
}
.terms{
	padding:0vh 2%;
}
.terms p{
	text-align:justify;
	font-size:16px;
	line-height:20px;
}
.cax{
	text-align:center;
}
.cx table {
	width: 100%;
	min-height:500px;
	text-align:center;
	position:absolute;
	margin:0 auto;
}	
.cx table th {
	text-align: center;
	border:none;
	background:#000;
	color:#fff;
}

.cx table .one {
	background-color:#c3e6e5;
}

.cx table .two {
	background-color:#c3e6e5;
}
	
.cx table .three {
	background-color:#c3e6e5;
}
	
.cx table .four {
	background-color:#c3e6e5;
}
	
.cx table .five {
	background-color:#c3e6e5;
}
	
.cx table .six {
	background-color:#c3e6e5;
}
	

tr:hover {
	background-color: #c3e6e5;
}
.money {
	text-align: right;}
.cx {
}
.shopbase{
	padding:40px 0;
	text-align:center;
}
.shopbase form{
	padding:10px 0;
	text-align:center;
	width:600px;
	display:inline-block;
}
table{
	width: 600px;
	text-align:center;
	margin-top:40vh;
}
th, td{
		padding: 7px 10px 10px 10px;
}
th{
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 90%;
	border-bottom: 2px solid #111111;
	border-top: 1px solid #999;
	text-align: left;
}
tr.even {
	background-color: #efefef;
}
tr:hover {
	background-color: #c3e6e5;
}

input{
	padding:5px;
	width:90%;
	margin:5px 2px;
	border:1px solid lightgray;
	border-radius:5px;
}
#home h1 {
    font-size: 40px;
}
#home h3 {
    font-size: 14px;
}
#home hr {
    width: 240px;
}
.bottom-right {
    position: absolute;
    bottom: 60px;
    right: 16px;
}
#home .btn-success{
    border-radius: 10px;
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
    padding: 8px 46px;
    transition: all 0.4s ease-in-out;
    margin-bottom:8px;
}
#home .btn-primary{
    border-radius: 10px;
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
    padding: 9px 36px;
    position:absolute;
    transition: all 0.4s ease-in-out;
}
#home .containersa{
    position: relative;
    text-align: left;
    color: white;
    width:100%;
}

@media (min-width: 769px)and (max-width: 1000px) {
		#home .btn-success{
			padding: 5px 29px;
			margin-bottom:4px;
			
		}
		#home .btn-primary{
			padding: 5px 25px;
		}
		.bottom-right {
			position: absolute;
			bottom: 50px;
			right: 4px;
		}
	}
@media (min-width: 360px)and (max-width: 768px) {
		#home .btn-success{
			padding: 5px 25px;
			margin-bottom:4px;
			font-size:10px;
		}
		#home .btn-primary{
			padding: 5px 20px;
			font-size:10px;
		}
		.bottom-right {
			position: absolute;
			bottom: 30px;
			right: 4px;
		}
	}
@media (min-width: 220px)and (max-width: 360px) {
		#home .btn-success{
			padding: 1.5px 12px;
			margin-bottom:4px;
			font-size:10px;
		}
		#home .btn-primary{
			padding: 1.5px 8px;
			font-size:10px;
		}
		.bottom-right {
			position: absolute;
			bottom: 20px;
			right: 4px;
		}
		.navbar .logo .navbar-band{
		    color: #00c6d7;
		    font-weight: 600;
		    font-size: 12px;
		    text-decoration:none;
		}
		.navbar .logo .navbar-band:hover{
		    color: #00c6d7;
		    font-weight: 600;
		    font-size: 12px;
		    text-decoration:none;
		}
		.navbar-default .logo .navbar-band:active{
		    color: #00c6d7;
		    font-weight: 600;
		    font-size: 12px;
		    text-decoration:none;
		}
		.navbar-default .logo .navbar-band:focus{
		    color: #00c6d7;
		    font-weight: 600;
		    font-size: 12px;
		    text-decoration:none;
		}
		.navbar .logo{
			margin-top:10px;
			
		}
	}
@media (min-width: 0px)and (max-width: 219px) {
		#home .btn-success{
			padding: 1.5px 12px;
			margin-bottom:4px;
			font-size:10px;
		}
		#home .btn-primary{
			padding: 1.5px 8px;
			font-size:10px;
		}
		.bottom-right {
			position: absolute;
			bottom: 20px;
			right: 4px;
		}
		.navbar .logo .navbar-band{
		    color: #00c6d7;
		    font-weight: 600;
		    font-size: 6px;
		    text-decoration:none;
		}
		.navbar .logo .navbar-band:hover{
		  color: #00c6d7;
		  font-weight: 600;
		  font-size: 6px;
		  text-decoration:none;
		}
		.navbar-default .logo .navbar-band:active{
		  color: #00c6d7;
		  font-weight: 600;
		  font-size: 6px;
		  text-decoration:none;
		}
		.navbar-default .logo .navbar-band:focus{
		  color: #00c6d7;
		  font-weight: 600;
		  font-size: 6px;
		  text-decoration:none;
		}
		.navbar .logo{
			margin-top:10px;
		}
	}
@media (min-width: 360px)and (max-width: 499px) {
		#home .btn-success{
			padding: 3.5px 22px;
			margin-bottom:1px;
		}
		#home .btn-primary{
			padding: 3.5px 16px;
		}
		
	}


@media (min-width: 0px)and (max-width: 380px) {
	h1.outdoor{
		font-size:20px;
	}
	h3.boda{
		font-size:15px;
	}
	#team .oya{
		font-size:10px;
	}
	#team .oya p{
		font-size:10px;
		line-height:8px;
	}
	.oya .read{
		background-color:#00c6d7;
		border:none;
		padding:2px;
		border-radius:15px;
		padding-right:4px;
	}
	.section-title hr{
		display:none;
	}
	.section-title h1{
		font-size:15px;
	}
}
/* ==========================================================================
work section
========================================================================== */
#work {
	background-image:url("../images/about copy.png");
	background-repeat:no-repeat;
	background-size:cover;
    text-align: center;
}
#work .section-title{
	border-color:black;
	width:70%;
	color:white;}
#work img{
	width:100%;
}
#work .col-md-4 {
    padding: 28px;
    position: relative;
    transition: all 0.4s ease-in-out;
    color:#fff;
}

#work .modal .modal-dialog{
	position:relative;
	width:55%;
	margin:27px auto;
	height:100vh;
}
#work .modal .modal-content{
	height:90vh;
	border-radius:1px;
}
#work .col-md-4:hover {
    background-color: #fff;
    border-color:white;
    color:#000;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
}
#work .medium-icon:hover{
	color:black !important;
}
#work h3 {
    font-size: 18px;
}
#work .section-title{
    border-color:white;
}
.slid{
	min-height:65vh;
}
@media (min-width: 0px) and (max-width: 992px) {
	#work .section-title{
	  border-color:white;
	  width:100% !important;
	}
	.modallogin{
		width:96%;
		margin:100px 2%;
	}
	.modaldash{
		width:96%;
		margin:100px 2%;
	}
	.modalyear{
		width:96%;
		margin:100px 2%;
	}
	.modalbus{
		width:96%;
		margin:100px 2%;
	}
	.modalcl{
		width:96%;
		margin:100px 2%;
	}
}

/* ==========================================================================
about section
========================================================================== */
#about {
  background: #3B3B3B;
  color: #ffffff;
}
#about .section-title{
	  border-color:white;
	  width:70%;
	}
	
@media (min-width: 0px) and (max-width: 992px) {
#about .section-title{
	border-color:white;
	width:100%;
	}
}

.nav-tabs {
    margin-top: 20px;
    border-bottom: 1px solid #606060;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.nav-tabs > li > a {
	display: block;
  	color: #ffffff;
  	font-size: 16px;
  	padding: 10px 20px;
  	border: 0;
  	border-radius: 0;
}
.nav-tabs > li > a:hover {
    background-color: transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #00c6d7;
    cursor: default;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom-color: transparent;
}
.tab-content {
    padding-top: 20px;
}

.tab-content a {
	color: #0CC;
}

.tab-content a:hover, .tab-content a:link {
	color: #FF0;
	text-decoration: none;
}

/* ==========================================================================
team section
========================================================================== */
#team{
    text-align: center;
    height:120vh !important;
}
#team h3 {
    color: #00c6d7;
    font-size: 14px;
    font-weight: bold;
}
#team .col-md-3 {
    padding-top: 20px;
    padding-bottom: 20px; 
}
#team .team-wrapper {
    overflow: hidden;
    position: relative;
    border-radius:20px;
}
#team .team-des button {
	width:45%;	
}
#team .team-des .four {
	background-color:red;
}
#team .team-des .one {
	width:27%;
	height:3.5vh;
	margin-left:1vw;
	background-color: #00c6d7;
	text-align:center !important;
	border-radius:3px;
	padding-top:0.2vh;
	padding-bottom:2vh;
	text-decoration:none;
	color:#fff;
}
#team .team-des .two {
	width:27%;
	height:3.5vh;
	margin-left:1vw;
	background-color: #00c6d7;
	text-align:center !important;
	border-radius:3px;
	padding-top:0.2vh;
	padding-bottom:2vh;
	text-decoration:none;
	color:#fff;
}
#team .team-des .three {
	width:45%;
	height:3.5vh;
	margin-left:1vw;
	background-color: #00c6d7;
	text-align:center !important;
	border-radius:3px;
	padding-top:0.2vh;
	padding-bottom:2vh;
	text-decoration:none;
	color:#fff;
}
#team .team-des .four {
	width:45%;
	height:3.5vh;
	margin-left:1vw;
	background-color: #00c6d7;
	text-align:center !important;
	border-radius:3px;
	padding-top:0.2vh;
	padding-bottom:2vh;
	text-decoration:none;
	color:#fff;
}
#team .team-des .fourone {
	width:75%;
	height:5.1vh;
	margin-left:1vw;
	margin-top:0.2vh;
	background-color: #00c6d7;
	padding-left:1vw;
	border-radius:30%;
	padding-top:1vh;
	text-align:left;
	text-decoration:none;
	color:#fff;
}
#team .containers {
    position: relative;
    text-align: left;
    color: white;
    width:100%;
    border-radius:20px;
}
.containers img{
	width:100%;
	border-radius:20px;
}
 #team .overlay{
	position:relative;
	background-color:black;
	width:100%; 
}
.bottom-left {
    position: absolute;
    bottom: 18px;
    left: 16px;
}
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}
.oya p{
	margin-top:10px;
	margin-bottom:10px;
}
.oya .market > a{
	text-decoration:none;
	color:#fff;
}
.oya .market{
	background-color:#00c6d7;
	border:none;
	padding:0px 3px;
	margin-bottom:-20px;
}
.oya .read > a{
	text-decoration:none;
	color:#fff;
}
.oya .read{
	background-color:#00c6d7;
	border:none;
	padding:7px;
	border-radius:15px;
	padding-right:10px;
}
#team .team-des .fourone > a{
	text-decoration:none;
	color:#fff;
	font-size:16px;
}
#team .team-des .four > a{
	text-decoration:none;
	color:#fff;	
}
#team .team-des .one > a{
	text-decoration:none;
	color:#fff;	
}
#team .team-des .two > a{
	text-decoration:none;
	color:#fff;	
}
#team .team-des .three > a{
	text-decoration:none;
	color:#fff;	
}
#team .modal-body{
	color:#000;	
}
#team .modal{
	margin-top:22px;	
}
.modal-header .close{
	margin-top:-10px;
	color:#000;
}
.modal-content{
	position:relative;
	background-color:#fff;
	-webkit-background-clip:padding-box;
	background-clip:padding-box;
	border:1px solid #999;
	border:1px solid rgba(0,0,0,.2);
	border-radius:6px;
	outline:0;
	-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);
	box-shadow:0 3px 9px rgba(0,0,0,.5);
}
.modal-header{
	min-height:16.43px;
	padding:15px;
	border-bottom:0px solid #000
}
.modal-header button{
	color:#000;
}
#team .team-des p{
	margin-left:1vw;
	line-height:3.5vh;
	margin-top:1vh;
}
#team .team-des {
  background-color: rgba(00,00,00,0.6);
  position: absolute;
  color: #ffffff;
  opacity: 1;
  border-radius:20px;
  max-width: 500px;
  width: 100%;
  height: 100%;
  text-align: left;
  vertical-align: left;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.4s ease-in-out;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-align-items: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
#team .team-des:hover {
 opacity: 1;
}
#team img {
  margin: 0 auto;
}
#team .social-icon li a {
  color: #fff;
}
#team .social-icon li a:hover {
  color: #00c6d7;
}
@media (min-width: 0px)and (max-width: 768px) {
   #team .section-title{
		width:100%;
	}
}
/* ====

/* ==========================================================================
Billboard section
========================================================================== */
#Billboard{
	
	background-color:#999;
}
#Billboard .main{
	position:relative;
	background-size:cover;
	width:100%;
	height:20vh;
	background-color:white;
	color:ddd;
	text-align:center;
	margin-bottom:0.5%;
	color:fff ! important;
}

#Billboard h1{
	font-size:20px;
	color:white;
}
#Billboard h2{
	font-size:40px;
	color:white;
}

/* ==========================================================================
portfolio section
========================================================================== */
#portfolio {
    background-color: #222;
    text-align: center;
    color:white;
}
#portfolio .section-title{
    border-color:#fff;
    color:white;
}
@media (min-width: 0px) and (max-width: 992px) {
	#portfolio .section-title{
	border-color:#fff;
	width:100%;
	}
}

#portfolio .container {
    width: 90%;
    padding: 0;
}
#portfolio img {
    width: 100%;
    transition: all 0.4s ease-in-out;
}
#portfolio img:hover {
    opacity: 0.5;
}
/* FILTER CSS */
.filter-wrapper {
    width: 100%;
    margin: 40px 0 24px 0;
    overflow: hidden;
    text-align: center;
}
.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}
.filter-wrapper li a {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 8px 17px;
    display: block;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}
.filter-wrapper li .selected,
.filter-wrapper li a:focus,
.filter-wrapper li a:hover {
    color: #00c6d7;
    outline: none;
  }

/* ISOTOPE BOX CSS */
.iso-box-section {
    width: 100%;
}
.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}
.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.fluid-img {
    width: 100%;
    display: block;
}


/* ==========================================================================
pricing section
========================================================================== */
#plan{
    background: url('../images/plan-bg.jpg') 50% 0 repeat-y fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    font-weight:bold;
    text-align:center;
}
#plan .plan{
    border: 4px solid #ffffff;
    padding: 40px;
    transition: all 0.4s linear;
    margin-bottom: 20px;
}
#plan .plan:hover{
    border: 4px solid #ffffff;
    padding: 40px;
    transition: all 0.4s linear;
    margin-bottom: 20px;
    color:#fff;
}
#plan .plan:hover{
    background: #000;
    border-color: #00c6d7;
}

#plan .plan-title{
    font-size: 25px;
}
#plan .plan-title, #plan .plan-price {
    padding: 16px;
}
#plan small {
    color: #00c6d7;
}
#plan .plan-list li{
    padding: 10px 0 10px 0;
    font-size:15px;
}
#plan .plan-list ul{
    list-style-type:none;
}

#plan .plan-button .btn{
    background: #000;
    border: 4px solid #ffffff;
    border-radius: 0;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 12px 42px;
    margin-top: 40px;
    transition: all 0.4s ease-in-out;
}

#plan .plan-button .btn:hover{
    background: #00c6d7;
    color: #000;
    border-color:#00c6d7;
}

@media (min-width: 0px)and (max-width: 768px){
   #plan .section-title{
		width:100%;
	}
	.modalenable h4{
		font-size:15px;
	}
}
@media (min-width: 550px)and (max-width: 768px){
   #plan .ba{
		margin:0 20%;
	}
}
@media (min-width: 420px)and (max-width: 550px) {
   #plan .ba{
		margin:0 10%;
	}
}

@media (min-width: 0px)and (max-width: 330px) {
    #plan .plan-title {
		font-size: 12px;
	}
	#plan .plan-title, #plan .plan-price {
	    padding: 8px;
	}
	#plan small {
	    color: #00c6d7;
		font-size:10px;
	}
	#plan .plan-list li {
	    padding: 0px 0 0px 0;
	    font-size:10px;
	}
	#plan .plan-button .btn {
		background: #000;
		border: 1px solid #ffffff;
		border-radius: 0;
		color: #ffffff;
		font-weight: bold;
		font-size:10px;
		letter-spacing: 2px;
		padding: 2px 3px;
		margin-top: 15px;
		transition: all 0.4s ease-in-out;
	}
	h1.plan-price-title{
		font-size:10px;
		
	}
	#plan .plan {
		border: 2px solid #ffffff;
		padding: 15px;
		width:100%;
		transition: all 0.4s linear;
		margin-bottom: 20px;
	}
	#plan .plan{
		border: 2px solid #ffffff;
		padding: 15px;
		width:100%;
		transition: all 0.4s linear;
		margin-bottom: 20px;
	}
	#plan .plan:hover{
		border: 4px solid #ffffff;
		padding: 15px;
		transition: all 0.4s linear;
		margin-bottom: 20px;
		color:#fff;
		}
}



/* ==========================================================================
contact section
========================================================================== */
#contact{
    background-size: cover;
    color: #ffffff;
    padding-bottom:0px;
    background-color: #222;
    text-align: center;
    min-height:100vh;
}
#contact form{
	color:black;
}
#contact .section-title{
    border-color:white;
    width:70%;
}
#contact h2 {
    padding-bottom: 0px;
    font-size:25px;
    letter-spacing:-1px;
}
#contact p {
    font-size:17px;
}
#contact h3 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
#contact .medium-icon {
    padding-top: 0px;
    padding-right: 10px;
}
#contact .col-md-4 {
    text-align: left;
    padding-right: 10px;
}
#contact .contact-info div {
    padding-top: 14px;
    padding-bottom: 0px;
}
#contact form {
    padding-top: 0px;
}
#contact .form-control {
    border: 2px solid #ffffff;
    border-radius: 0;
    box-shadow: none;
    margin-top: 0px;
    margin-bottom: 0px;
    transition: all 0.4s ease-in-out;
}
#contact input {
    height: 40px;
}
#contact input[type="submit"] {
    background: transparent;
    border: 1px solid #bbb;
    letter-spacing: 1px;
    margin-top: 1vh;
    height:8.5vh;
    color: #ffffff;
    border-radius:5px;
    text-align:center;
}
#contact .nap{
	display:none;
}
#contact input[type="submit"]:hover {
	color: #fff;
	background: #00c6d7;
	border: 2px solid #00c6d7;
}
#contact h1{
    padding-bottom:25px;
}
#contact .section-title{
	border-color:white;
	width:73%;
	}
.go-top {
    background-color: #00c6d7;
    font-size: 26px;
    bottom: 2em;
    right: 2em;
    color: #FFF;
    display: none;
    position: fixed;
    text-decoration: none;
    width: 60px;
    height: 60px;
	border-radius:50%;
    line-height: 58px;
    text-align: center;
	z-index:100000;
	float:left;
	transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
.go-top:hover{
    background-color: white;
	color: #00c6d7;
}
@media (min-width: 0px) and (max-width: 992px) {
#contact .section-title{
	border-color:white;
	width:100%;
	}
}

/* ==========================================================================
footer section
========================================================================== */
footer {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
footer p {
    padding-top: 20px;
}
.social-icon {
    padding: 0;
    margin: 0;
}
.social-icon li {
    list-style: none;
    display: inline-block;
    padding: 6px;
}
.social-icon li a {
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.09);
    color: #808080;
    font-size: 20px;
    width: 56px;
    height: 56px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}
.social-icon li a:hover {
  color: #00c6d7;
}
@media screen and (min-width: 992px) {
  @-moz-document url-prefix(){
    #portfolio .col-lg-4,
    #portfolio .col-md-4{
      width: 33.333%;
    }
  }    
}

iframe{
	width:100%;
	height:60vh;
	border:0;
}
.section-title {
    border: 4px solid #000;
    position: relative;
    text-align: center;
    width:70%;
    margin:auto;
    margin-bottom:50px;
}

#about .section-title, #plan .section-title {
  border-color: #ffffff;
}

.panel {
	background-color: #161616;
	border: 0px;
}

.panel-title {
	color: #FFF;
}
.panel-body p {
	color: #CCC;
}
#work, #about, #team, 
#portfolio, #plan, #contact {
	padding-top: 90px;
	padding-bottom: 70px;
}

#team, #portfolio, #contact {
    text-align: center;
}

.parallax-section {
    background-attachment: fixed !important;
    background-size: cover !important;
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.button__title{
    width: auto;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button__area{
    width: auto;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button__click{
    width: 4rem;
    height: 2rem;
}
@media (max-width: 1200px) {
    .bx-thumbnail-wrapper {
        display: none;
    }
    .slider-caption {
        bottom: 90px;
    }
    .bx-controls-direction {
         bottom: 30px;
    }
}

@media (max-width: 980px){
    .slider-caption {
		bottom: 60px;
    }
    .slider-caption h2 {
		font-size: 32px;
    }
    .slider-caption p {
		font-size: 18px;
    }
   .bx-controls-direction {
		right: 30px;
    }
   .bx-controls-direction {
		bottom: -40px;
    }
   .heading {
		font-size: 62px;
    }
   .custom-navbar .navbar-brand  {
	    border: none;
	    font-size: 18px;
    }
}
@media (min-width: 0px) and (max-width: 780px){
	.modalplan{
		margin-left:0%;
		margin-right:0%;
		width:100%;
		position: relative;
	}
	.modalman{
		margin:80px 2%;
		width:96%;
	}
	.shopbas form{
		width:90%;
		margin:0 5%;
	}
	.modaldir{
		margin:80px 2%;
		width:96%;
	}
	.modalceo{
		margin:80px 2%;
		width:96%;
	}
	.modalmar{
		margin:80px 2%;
		width:96%;
	}
	.modalcro{
		margin:80px 2%;
		width:96%;
	}
	.modalsec{
		margin:80px 2%;
		width:96%;
	}
	.modalpricing{
		margin-left:0%;
		margin-right:0%;
		width:100%;
		position: relative;
	}
	.modalproduct{
		margin-left:0%;
		margin-right:0%;
		width:100%;
		position: relative;
	}
	.modalenable{
		margin-left:0%;
		margin-right:0%;
		width:100%;
		position: relative;
	}
}
.plan-list li{
	list-style-type:none;
}
.plan-list ul{
	list-style-type:none;
}
.cx{
	text-align:center;
	position:relative;
	height:20px !important;
}
