{%extends 'main.html'%}
{%block changeform %}
{%block fasola %}
<div class="collapse navbar-collapse">
	<ul class="nav navbar-nav navbar-right">
		<li><a href={% url 'billboard:billboards'%}>Home</a></li>
	</ul>
</div>
{%endblock%}
<div class="shopbas">
	<h2>Reset Password</h2>
	<h3>Enter your new password</h3>
	<form class="form" action="" method="POST" enctype="multipart/form-data">
	    {% csrf_token %}
	    {{form}}
		<button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-lock4"></i> Change Password</button>
	</form>    
</div>
{%endblock%}